# vscode related
.vscode
.vs
.vscode-server
backend/.vscode
backend/.vs
frontend/.vscode
frontend/.vs


# compiled files
backend/bin
backend/obj

# frontend dependency
frontend/node_modules

# db data file
db/Accountant.db

# secrets for docker
credential.env
