
.content_button {
    padding: 0.3em;
    margin: 0 0.25em 0 0.25em;
    border-radius: 0.2em;
    border-style: none;
    
    align-items: center;
    display: inline-flex;
    position: relative;
}

.content_button p {
    font-size: 1em;
    width: 100%;
    margin: 0 0.5em 0 0.5em;
}

.content_button i {
    margin: 0 0 0 0 ;
}

.button_grayed {
    pointer-events: none;
}

.button_border {
    border: 0.1px solid var(--gray-t4);
}

.button_reverse {
    flex-direction: row-reverse;
}

.white_button {
    background-color: transparent;
    color: var(--gray-t6);
}

.white_button:hover {
    background-color: var(--main-color-t4);
    transition: background-color 0.5s ease;
}

.color_button {
    background-color: var(--main-color);
    color: white;
}

.color_button:hover {
    background-color: var(--main-color-t6);
    transition: background-color 0.5s ease;
}